 <footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4>Về Ticivi </h4>
                    <div class="about-widget">
                        <p> Nếu bạn đang tìm kiếm một trang web để mua và bán hàng trực tuyến về nông nghiệp thì Ticivi là một sự lựa chọn hiệu quả dành cho bạn. Nhờ nền tảng thương mại điện tử, việc mua hàng trên Ticivi trở nên nhanh chóng và đơn giản hơn. Còn nếu bạn muốn tìm mua những dòng sản phẩm nông nghiệp chất lượng cao, uy tín thì Ticivi là dành cho bạn.
                        </p>
                        <a href="@Url.Action("About","Home")">Chi tiết Ticivi</a>
                        <ul class="contact">
                            <li><p><i class="fa fa-phone"></i> <strong>Hotline đặt hàng</strong><br> (123) 456-7890 </br>
                                <small>(Miễn phí , 8-21h kể cả T7, CN)</small></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="contact-details">
                        <h4>SẢN PHẨM NỔI BẬT</h4>
                        <div class="product product-sm">
                            <figure class="product-image-area">
                                <a href="#" title="Product Name" class="product-image">
                                    <img src="~/img/demos/shop/products/product13.jpg" alt="Product Name">
                                    <img src="~/img/demos/shop/products/product13-2.jpg" alt="Product Name" class="product-hover-image">
                                </a>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="#" title="Product Name">Diamond Ring - S</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="        width: 0%"></div>
                                    </div>
                                </div>
                                <div class="product-price-box">
                                    <span class="product-price">$220.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="product product-sm">
                            <figure class="product-image-area">
                                <a href="#" title="Product Name" class="product-image">
                                    <img src="~/img/demos/shop/products/product14.jpg" alt="Product Name">
                                </a>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="#" title="Product Name">Diamond Ring - XL</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="        width: 80%"></div>
                                    </div>
                                </div>
                                <div class="product-price-box">
                                    <span class="product-price">$180.00</span>
                                </div>
                            </div>
                        </div>
                        <div class="product product-sm">
                            <figure class="product-image-area">
                                <a href="#" title="Product Name" class="product-image">
                                    <img src="~/img/demos/shop/products/product15.jpg" alt="Product Name">
                                </a>
                            </figure>
                            <div class="product-details-area">
                                <h2 class="product-name"><a href="#" title="Product Name">Diamond Ring - 2XL</a></h2>
                                <div class="product-ratings">
                                    <div class="ratings-box">
                                        <div class="rating" style="        width: 0%"></div>
                                    </div>
                                </div>
                                <div class="product-price-box">
                                    <span class="product-price">$240.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-md-3">
                    <div class="newsletter">
                        <h4>Đăng ký nhận bản tin Ticivi</h4>
                        <p class="newsletter-info">Đừng bỏ lỡ hàng ngàn sản phẩm và chương trình siêu hấp dẫn.</p>
                        <div class="alert alert-success hidden" id="newsletterSuccess">
                            <strong>Success!</strong> You've been added to our email list.
                        </div>
                        <div class="alert alert-danger hidden" id="newsletterError"></div>

                        <p>Nhập địa chỉ email của bạn:</p>
                        <form id="newsletterForm" action="/php/newsletter-subscribe.php" method="POST">
                            <div class="input-group">
                                <input class="form-control" placeholder="Email.." name="newsletterEmail" id="newsletterEmail" type="text">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">Đăng ký</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4>KẾT NỐI VỚI CHÚNG TÔI</h4>
                        <ul class="social-icons">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    <h4>TẢI APP TRÊN ĐIỆN THOẠI</h4>
                        <ul class="social-icons">
                            <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="App Store"><i class="fa fa-facebook"></i></a></li>
                            <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Google Play"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h4>Chăm sóc khách hàng</h4>
                    <ul class="links">
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="@Url.Action("Help","Home")">Hướng dẫn mua hàng</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="@Url.Action("Help","Home")">Hướng dẫn bán hàng</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="@Url.Action("Help","Home")">Trung tâm trợ giúp</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="contact-details">
                        <h4>Tags phổ biến</h4>
                        <div class="tagcloud">
                            <a href="#">Cashew</a>
                            <a href="#">Điều</a>
                            <a href="#">Hạt chia</a>
                            <a href="#">Mật ong</a>
                            <a href="#">Táo</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-md-3">
                    <h4>Chính sách</h4>
                    <ul class="links">
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="@Url.Action("Privacy","Home")">Chính sách bảo mật</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="@Url.Action("Privacy","Home")">Chính sách vận chuyển</a>
                        </li>
                        <li>
                            <i class="fa fa-angle-right"></i>
                            <a href="@Url.Action("Privacy","Home")">Chính sách trả hàng và hoàn tiền</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h4>Liên hệ</h4>
                    <ul class="contact">
                        <li><p><i class="fa fa-map-marker"></i> 89 Trần Văn Ơn, Quận Tân Phú, TP HCM</p></li>
                        <li><p><i class="fa fa-phone"></i> (123) 456-7890</p></li>
                        <li><p><i class="fa fa-envelope-o"></i> <a href="mailto:mail@example.com">mail@example.com</a></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a href="index.html" class="logo">
                <img alt="Porto Website Template" class="img-responsive" src="~/img/demos/shop/logo-footer.png">
            </a>
            <img alt="Payments" src="~/img/demos/shop/payments.png" class="footer-payment">
            <p class="copyright-text">© 2018 - Bản quyền của Công Ty Cổ Phần TiCiVi - Ticivi.vn</p>
        </div>
    </div>
</footer>
