@model String[]
<aside class="col-md-3 col-md-pull-9 sidebar shop-sidebar">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-category">
                        Categories
                    </a>
                </h4>
            </div>
            <div id="panel-filter-category" class="accordion-body collapse in">
                <div class="panel-body">
                    <ul>
                        @for (var i = 0; i < Model.Length; i++)
                    {
                        <li><a href="@Url.Action("Category","Product", new { id =i})">@Model[i]</a></li>
                }
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-price">
                        Price
                    </a>
                </h4>
            </div>
            <div id="panel-filter-price" class="accordion-body collapse in">
                <div class="panel-body">
                    <div class="filter-price">
                        <div class="filter-price-details">
                            <span>from</span>
                            <input type="text" id="price-range-low" class="form-control" placeholder="Min">
                            <span>to</span>
                            <input type="text" id="price-range-high" class="form-control" placeholder="Max">
                            <a href="#" class="btn btn-primary">FILTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-size">
                        Size
                    </a>
                </h4>
            </div>
            <div id="panel-filter-size" class="accordion-body collapse in">
                <div class="panel-body">
                    <ul class="configurable-filter-list">
                        <li>
                            <a href="#">S</a>
                        </li>
                        <li>
                            <a href="#">M</a>
                        </li>
                        <li>
                            <a href="#">L</a>
                        </li>
                        <li>
                            <a href="#">XL</a>
                        </li>
                        <li>
                            <a href="#">2XL</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-origin">
                        Origin
                    </a>
                </h4>
            </div>
            <div id="panel-filter-origin" class="accordion-body collapse in">
                <div class="panel-body">
                    <ul>
                        <li><a href="@Url.Action("Category", "Product",new {origin = "AU"})">Australia</a></li>
                        <li><a href="@Url.Action("Category", "Product",new {origin = "VN"})">Vietnam</a></li>
                        <li><a href="@Url.Action("Category", "Product",new {origin = "IL"})">Israel</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-from">
                        Product From
                    </a>
                </h4>
            </div>
            <div id="panel-filter-from" class="accordion-body collapse in">
                <div class="panel-body">
                    <ul>
                        <li><a href="@Url.Action("Category", "Product",new {from = "D"})">Domestic</a></li>
                        <li><a href="@Url.Action("Category", "Product",new {from = "F"})">Foreign</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" href="#panel-filter-brand">
                        Brands
                    </a>
                </h4>
            </div>
            <div id="panel-filter-brand" class="accordion-body collapse in">
                <div class="panel-body">
                    <ul>
                        <li><a href="#">Thương hiệu 1</a></li>
                        <li><a href="#">Thương hiệu 2</a></li>
                        <li><a href="#">Thương hiệu 3</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</aside>