<aside id="sidebar-left" class="sidebar-left">
    <div class="sidebar-header">
        <div class="sidebar-title">
            Navigation
        </div>
        <div class="sidebar-toggle d-none d-md-block" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
            <i class="fas fa-bars" aria-label="Toggle sidebar"></i>
        </div>
    </div>
    <div class="nano">
        <div class="nano-content">
            <nav id="menu" class="nav-main" role="navigation">
                <ul class="nav nav-main">
                    <li class="@(Html.IsActive("Home") ? "nav-link nav-active" : "nav-link")">
                        <a href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> <span>Dashboard</span></a>
                    </li>
                    <li class="@(Html.IsActive("Member") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                        <a href="#"><i class="fas fa-users"></i> <span>Thành Viên</span></a>
                        <ul class="nav nav-children">
                            <li class="@(Html.IsActive("Member", "Index") ? "nav-active" : "")">
                                <a href=""><i class="fas fa-tasks"></i> Danh sách</a>
                            </li>
                            <li class="@(Html.IsActive("Member", "Search") ? "nav-active" : "")">
                                <a href=""><i class="fas fa-search"></i> Tìm kiếm</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(Html.IsActive("BlogPost") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                        <a href="#"><i class="fas fa-archive"></i> <span>Bài viết</span></a>
                        <ul class="nav nav-children">
                            <li class="@(Html.IsActive("BlogPost", "Index") ? "nav-active" : "")">
                                <a href="@Url.Action("Index", "BlogPost")"><i class="fas fa-tasks"></i> Danh sách</a>
                            </li>
                            <li class="@(Html.IsActive("BlogPost", "Create") ? "nav-active" : "")">
                                <a href="@Url.Action("Create", "BlogPost")"><i class="fas fa-plus"></i> Tạo mới</a>
                            </li>
                            <li class="@(Html.IsActive("BlogPost", "Search") ? "nav-active" : "")">
                                <a href=""><i class="fas fa-search"></i> Tìm kiếm</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(Html.IsActive("Message") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                        <a href="#"><i class="fas fa-comments"></i> <span>Tin nhắn</span></a>
                        <ul class="nav nav-children">
                            <li class="@(Html.IsActive("Message", "Index") ? "nav-active" : "")">
                                <a href="@Url.Action("Index", "Message")"><i class="fas fa-tasks"></i> Danh sách</a>
                            </li>
                            <li class="@(Html.IsActive("Message", "Search") ? "nav-active" : "")">
                                <a href="#"><i class="fas fa-search"></i> Tìm kiếm</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(Html.IsActive("Teamwork") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                        <a href="#"><i class="fas fa-tasks"></i> <span>Công việc</span></a>
                        <ul class="nav nav-children">
                            <li class="@(Html.IsActive("Teamwork", "Index") ? "nav-active" : "")">
                                <a href="@Url.Action("Index", "Teamwork")"><i class="fas fa-tasks"></i> Danh sách</a>
                            </li>
                            <li class="@(Html.IsActive("Teamwork", "Create") ? "nav-active" : "")">
                                <a href="" class="modal-opener"><i class="fas fa-plus"></i> Tạo mới</a>
                            </li>
                        </ul>
                    </li>
                    <li class="@(Html.IsActive("GameData") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                        <a href="#"><i class="fas fa-gamepad"></i> <span> Võ Lâm</span></a>
                        <ul class="nav nav-children">
                            <li class="@(Html.IsActive("GameData", "Roles") ? "nav-active" : "")">
                                <a href=""><i class="fas fa-user-cog"></i> Nhân vật</a>
                            </li>
                            <li class="@(Html.IsActive("GameData", "Guilds") ? "nav-active" : "")">
                                <a href=""><i class="fas fa-users"></i> Bang hội</a>
                            </li>
                        </ul>
                    </li>
                    @if (User.IsInRole("Manager"))
                    {
                        <li class="@(Html.IsActive("GameZone") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                            <a href="#"><i class="fas fa-server"></i> <span>Máy chủ</span></a>
                            <ul class="nav nav-children">
                                <li class="@(Html.IsActive("GameZone", "Index") ? "nav-active" : "")">
                                    <a href="@Url.Action("Index", "GameZone")"><i class="fas fa-server"></i> Danh sách</a>
                                </li>
                                <li class="@(Html.IsActive("GameZone", "Create") ? "nav-active" : "")">
                                    <a href="@Url.Action("Create", "GameZone")" class="modal-opener"><i class="fas fa-plus"></i> Tạo mới</a>
                                </li>
                            </ul>
                        </li>
                        <li class="@(Html.IsActive("GameGift") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                            <a href="#"><i class="fas fa-box"></i> <span>Gói nạp</span></a>
                            <ul class="nav nav-children">
                                <li class="@(Html.IsActive("GameGift", "Index") ? "nav-active" : "")">
                                    <a href="@Url.Action("Index", "GameGift")"><i class="fas fa-tasks"></i> Danh sách</a>
                                </li>
                                <li class="@(Html.IsActive("GameGift", "Create") ? "nav-active" : "")">
                                    <a href="@Url.Action("Create", "GameGift")" class="modal-opener"><i class="fas fa-plus"></i> Tạo mới</a>
                                </li>
                            </ul>
                        </li>
                        <li class="@(Html.IsActive("GameObject") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                            <a href="#"><i class="fas fa-cubes"></i> <span>Vật phẩm</span></a>
                            <ul class="nav nav-children">
                                <li class="@(Html.IsActive("GameObject", "Index") ? "nav-active" : "")">
                                    <a href="@Url.Action("Index", "GameObject")"><i class="fas fa-tasks"></i> Danh sách</a>
                                </li>
                                <li class="@(Html.IsActive("GameObject", "Create") ? "nav-active" : "")">
                                    <a href="@Url.Action("Create", "GameObject")" class="modal-opener"><i class="fas fa-plus"></i> Tạo mới</a>
                                </li>
                            </ul>
                        </li>
                        <li class="@(Html.IsActive("Reports") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                            <a href="#"><i class="fas fa-chart-bar"></i> <span>Báo cáo</span></a>
                            <ul class="nav nav-children">
                                <li class="@(Html.IsActive("Reports", "General") ? "nav-active" : "")">
                                    <a href="@Url.Action("General", "Reports")"><i class="fas fa-chart-bar"></i> Tổng hợp </a>
                                </li>
                                <li class="@(Html.IsActive("Reports", "CashCharge") ? "nav-active" : "")">
                                    <a href="@Url.Action("CashCharge", "Reports")"><i class="fas fa-dollar-sign"></i> Nạp thẻ </a>
                                </li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="@(Html.IsActive("Settings") ? "nav-parent nav-expanded nav-active" : "nav-parent")">
                            <a href="#"><i class="fas fa-cogs"></i> <span>Settings</span></a>
                            <ul class="nav nav-children">
                                <li class="@(Html.IsActive("Settings", "CardsList") ? "nav-active" : "")">
                                    <a href="@Url.Action("CardsList", "Settings")"><i class="fas fa-credit-card"></i> Card Types</a>
                                </li>
                                <li class="@(Html.IsActive("Settings", "Email") ? "nav-active" : "")">
                                    <a href="@Url.Action("Email", "Settings")"><i class="fas fa-envelope"></i> Email Settings</a>
                                </li>
                                <li class="@(Html.IsActive("Settings", "Phone") ? "nav-active" : "")">
                                    <a href="@Url.Action("Phone", "Settings")"><i class="fas fa-phone"></i> SMS Settings</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </nav>
            <hr class="separator" />
            <div class="sidebar-widget widget-stats">
                <div class="widget-header">
                    <h6>Company Stats</h6>
                    <div class="widget-toggle">+</div>
                </div>
                <div class="widget-content">
                    <ul>
                        <li>
                            <span class="stats-title">Stat 1</span>
                            <span class="stats-complete">85%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                    <span class="sr-only">85% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="stats-title">Stat 2</span>
                            <span class="stats-complete">70%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                    <span class="sr-only">70% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <span class="stats-title">Stat 3</span>
                            <span class="stats-complete">2%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
                                    <span class="sr-only">2% Complete</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <script>
            if (typeof localStorage !== 'undefined') {
                if (localStorage.getItem('sidebar-left-position') !== null) {
                    var initialPosition = localStorage.getItem('sidebar-left-position'),
                        sidebarLeft = document.querySelector('#sidebar-left .nano-content');
                    sidebarLeft.scrollTop = initialPosition;
                }
            }
        </script>
    </div>
</aside>
