<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-8">
                <div class="header-top-first clearfix">
                    <ul class="social-links clearfix hidden-xs">
                        <li><a target="_blank" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> Trang chủ</a></li>
                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li class="googleplus"><a href="mailto:hotro@tinhhoavolam.com"><i class="fas fa-envelope"></i> hotro@tinhhoavolam.com</a></li>
                    </ul>
                    <div class="social-links hidden-lg hidden-md hidden-sm">
                        <div class="btn-group dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fas fa-share-alt"></i></button>
                            <ul class="dropdown-menu dropdown-animation">
                                <li><a target="_blank" href="@Url.Action("Index", "Home")"><i class="fas fa-home"></i> Trang chủ</a></li>
                                <li class="facebook"><a target="_blank" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                                <li class="googleplus"><a href="mailto:hotro@tinhhoavolam.com"><i class="fas fa-envelope"></i> hotro@tinhhoavolam.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 col-sm-4">
                <div class="header-top-second clearfix">
                    <div class="header-top-dropdown">
                        <ul class="social-links clearfix">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="@Url.Action("Index", "Account")"><i class="fas fa-user"></i> <b>@User.Identity.Name</b></a></li>
                                @if (User.IsInRole("Operator"))
                                {
                                    <li><a href="@Url.Action("Index", "Home", new { area = "Admin" })"><i class="fas fa-user-secret"></i> Admin</a></li>
                                }
                                <li><a href="@Url.Action("Logout", "Account")"><i class="fas fa-sign-out-alt"></i> Thoát</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Register", "Account")"><i class="fas fa-user-plus"></i> Đăng ký</a></li>
                                <li><a href="@Url.Action("Login", "Account")"><i class="fas fa-sign-in-alt"></i> Đăng nhập</a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
