@addTagHelper *,TCV.Shared
@model PagedList<ShopItem>
    <div class="body">
        <div role="main" class="main">
            <div class="container">
                <div class="slider-container rev_slider_wrapper" style="height: 521px;">
                    <div id="revolutionSlider" class="slider rev_slider manual">
                        <ul>
                            <li data-transition="fade">
                                <img src="~/img/banner/banner1.jpg"
                                     alt="slide bg"
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     class="rev-slidebg">
                                <div class="tp-caption"
                                     data-x="center"
                                     data-y="194"
                                     data-start="1000"
                                     data-whitespace="nowrap"
                                     data-transform_in="y:[100%];s:500;"
                                     data-transform_out="opacity:0;s:500;"
                                     data-mask_in="x:0px;y:0px;" style="font-size: 79px; line-height:1; font-weight:800; color: #fff;">Nông sản VN</div>
                                <div class="tp-caption"
                                     data-x="center" data-hoffset="-220"
                                     data-y="293"
                                     data-start="1200"
                                     data-transform_in="x:[-300%];opacity:0;s:500;"><img src="/img/slides/slide-title-border.png" alt="Border"></div>
                                <div class="tp-caption"
                                     data-x="center"
                                     data-y="285"
                                     data-start="1500"
                                     data-transform_in="y:[100%];opacity:0;s:500;" style="font-size: 23px; line-height:1; font-weight:300; color: #fff;">Mua nông sản chất lượng cao.</div>
                                <div class="tp-caption"
                                     data-x="center" data-hoffset="220"
                                     data-y="293"
                                     data-start="1200"
                                     data-transform_in="x:[300%];opacity:0;s:500;"><img src="/img/slides/slide-title-border.png" alt="Border"></div>
                            </li>
                            <li data-transition="fade">
                                <img src="~/img/banner/banner4.jpg"
                                     alt="slide bg"
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     class="rev-slidebg">
                                <div class="tp-caption"
                                     data-x="480"
                                     data-y="130"
                                     data-start="500"
                                     data-whitespace="nowrap"
                                     data-transform_in="y:[100%];s:500;"
                                     data-transform_out="opacity:0;s:500;"
                                     style="z-index: 5; font-size: 26px; font-weight:300; line-height:1.5; color: #fff;"
                                     data-mask_in="x:0px;y:0px;">Ưu đãi đến <span style="font-weight: 600;">50%</span></div>
                                <div class="tp-caption"
                                     data-x="475"
                                     data-y="164"
                                     data-start="900"
                                     data-whitespace="nowrap"
                                     data-transform_in="y:[100%];s:500;"
                                     data-transform_out="opacity:0;s:500;"
                                     style="z-index: 5; font-size: 82px; text-transform: uppercase; font-weight:600; line-height:1;color: #fff;"
                                     data-mask_in="x:0px;y:0px;">Huge<span style="font-weight: 800;">Sale</span></div>
                                <div class="tp-caption tp-resizeme"
                                     data-x="480"
                                     data-y="256"
                                     data-start="1300"
                                     style="z-index: 5; font-size: 18px; font-weight: 600; line-height:1;color: #fff;"
                                     data-transform_in="y:[100%];opacity:0;s:500;">Hạt<span style="margin-left:13px;margin-right:13px;">-</span>Rau củ tươi<span style="margin-left:13px;margin-right:13px;">-</span>Trái cây nhập khẩu<span style="margin-left:13px;margin-right:13px;">-</span>Trái cây trong nước</div>
                                <div class="tp-caption tp-resizeme"
                                     data-x="784"
                                     data-y="300"
                                     data-start="1800"
                                     style="z-index: 5; font-size: 16px; font-weight: 300; line-height:1;"
                                     data-transform_in="y:[100%];opacity:0;s:500;"><a href="#" class="btn btn-default" style="border:none; font-weight: 600; padding-top: 10px; padding-bottom:10px;">MUA NGAY</a></div>
                            </li>
                            <li data-transition="fade">
                                <img src="~/img/banner/banner3.jpg"
                                     alt="slide bg"
                                     data-bgposition="center center"
                                     data-bgfit="cover"
                                     data-bgrepeat="no-repeat"
                                     class="rev-slidebg">
                                <div class="tp-caption"
                                     data-x="170"
                                     data-y="180"
                                     data-start="500"
                                     data-whitespace="nowrap"
                                     data-transform_in="y:[100%];s:500;"
                                     data-transform_out="opacity:0;s:500;"
                                     style="z-index: 5; font-size: 26px; font-weight:300; line-height:1; color: #fff;"
                                     data-mask_in="x:0px;y:0px;">Hàng đạt tiêu chuẩn cao</div>
                                <div class="tp-caption"
                                     data-x="170"
                                     data-y="214"
                                     data-start="900"
                                     data-whitespace="nowrap"
                                     data-transform_in="y:[100%];s:500;"
                                     data-transform_out="opacity:0;s:500;"
                                     style="z-index: 5; font-size: 82px; text-transform: uppercase; font-weight:600; line-height:1;color: #fff;"
                                     data-mask_in="x:0px;y:0px;">Mua<span style="font-weight: 800;"> Ngay</span></div>
                                <div class="tp-caption tp-resizeme"
                                     data-x="508"
                                     data-y="308"
                                     data-start="1300"
                                     style="z-index: 5; font-size: 16px; font-weight: 300; line-height:1;"
                                     data-transform_in="y:[100%];opacity:0;s:500;"><a href="#" class="btn btn-default" style="border:none; font-weight: 600; padding-top: 10px; padding-bottom:10px;">Tìm kiếm</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="homepage-bar">
                    <div class="row">
                        <div class="col-md-4">
                            <i class="fa fa-truck bar-icon"></i>
                            <div class="bar-textarea">
                                <h3>MIỄN PHÍ GIAO HÀNG & NHANH CHÓNG</h3>
                                <p> Miễn phí giao hàng vơi tất cả đơn hàng trên 30$.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-support bar-icon"></i>
                            <div class="bar-textarea">
                                <h3>MUA HÀNG DỄ DÀNG</h3>
                                <p>Mua trực tiếp trên nền tảng thương mại điện tử.</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-dollar bar-icon"></i>
                            <div class="bar-textarea">
                                <h3>THANH TOÁN AN TOÀN</h3>
                                <p>Có thể  thanh toán trực tiếp khi nhận được hàng.</p>
                             </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="home-products-seciton">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-9 col-md-push-3 col-lg-push-3">
                            <h2 class="slider-title">SẢN PHẨM NỔI BẬT</h2>
                            <ul class="products-grid columns4">
                                @foreach (var item in Model.Content)
                                {

                            <li>
                                <div class="product">
                                    <figure class="product-image-area">
                                        <a href="@Url.Action("Detail","Product",new { id = item.Id })" title="@item.Name" class="product-image">
                                            <img src="@item.Image" alt="Product Name" style="width:200px; height:200px">
                                            <img src="@item.Preview" alt="Product Name" class="product-hover-image" style="width:200px; height:200px">
                                        </a>
                                        <a href="#" class="product-quickview">
                                            <i class="fa fa-share-square-o"></i>
                                            <span>Quick View</span>
                                        </a>

                                        @if (item.SalePrice != item.RegularPrice) {
                                        <div class="product-label"><span class="discount">-10%</span></div>
                                        }
                                        @if (item.NewProduct)
                                        {
                                            <div class="product-label"><span class="new">New</span></div>
                                        }


                                        <div class="product-actions">
                                            <a href="#" class="addtowishlist" title="Add to Wishlist">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                            <a href="#" class="addtocart" title="Add to Cart">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </figure>
                                    <div class="product-details-area">
                                        <h2 class="product-name"><a href="@Url.Action("Detail","Product",new { id = item.Id })" title="@item.Name">@item.Name</a></h2>
                                        <div class="product-ratings">
                                            <div class="ratings-box">
                                                <div class="rating" style="width:60%"></div>
                                            </div>
                                        </div>
                                        <div class="product-price-box">
                                            @if (item.SalePrice != item.RegularPrice) {
                                            <span class="old-price">@item.RegularPrice</span>
                                            }

                                            <span class="product-price">@item.CurrentPrice</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                                }
                            </ul>
                        </div>
                        <aside class="col-md-3 col-lg-3 col-md-pull-9 col-lg-pull-9 sidebar home-sidebar shop-sidebar">
                            <div class="side-block">
                                <h4><i class="fa fa-bars"></i>DANH MỤC SẢN PHẨM</h4>
                                <ul class="category-list">
                                    <li>
                                        <a href="#">Fashion</a>
                                        <a href="#" class="plus"></a>
                                        <ul>
                                            <li>
                                                <a href="#">Women</a>
                                                <a href="#" class="plus"></a>
                                                <ul>
                                                    <li><a href="#">Tops &amp; Blouses</a></li>
                                                    <li><a href="#">Accessories</a></li>
                                                    <li><a href="#">Dresses &amp; Skirts</a></li>
                                                    <li><a href="#">Shoes &amp; Boots</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Men</a>
                                                <a href="#" class="plus"></a>
                                                <ul>
                                                    <li><a href="#">Accessories</a></li>
                                                    <li><a href="#">Watch Fashion</a></li>
                                                    <li><a href="#">Tees, Knits &amp; Polos</a></li>
                                                    <li><a href="#">Pants &amp; Denim</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Kids Fashion</a>
                                                <a href="#" class="plus"></a>
                                                <ul>
                                                    <li><a href="#">Casual Shoes</a></li>
                                                    <li><a href="#">Spring &amp; Autumn</a></li>
                                                    <li><a href="#">Winter Sneakers</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">Specials</a></li>
                                            <li><a href="#">Featured</a></li>
                                            <li><a href="#">Just Arrived</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Electronics</a>
                                        <a href="#" class="plus"></a>
                                        <ul>
                                            <li><a href="#">Smart TVs</a></li>
                                            <li><a href="#">Cameras</a></li>
                                            <li><a href="#">Games</a></li>
                                            <li><a href="#">Phones</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Gifts</a></li>
                                    <li><a href="#">Home &amp; Garden</a></li>
                                    <li><a href="#">Music</a></li>
                                    <li>
                                        <a href="#">Motors</a>
                                        <a href="#" class="plus"></a>
                                        <ul>
                                            <li><a href="#">Accessories</a></li>
                                            <li><a href="#">Cars and Trucks</a></li>
                                            <li><a href="#">Motorcycles &amp; Powersports</a></li>
                                            <li><a href="#">Parts &amp; Accessories</a></li>
                                            <li><a href="#">Boats</a></li>
                                            <li><a href="#">Auto Tools &amp; Supplies</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Clothes</a>
                                        <a href="#" class="plus"></a>
                                        <ul>
                                            <li><a href="#">Men</a></li>
                                            <li><a href="#">Women</a></li>
                                            <li><a href="#">Kids</a></li>
                                            <li><a href="#">Fashion</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="side-block side-feature">
                                <h4><i class="fa fa-star"></i>DỊCH VỤ TẬN NƠI</h4>
                                <p>
                                    Tham khảo chính sách vận chuyển của chúng tôi để được trợ giúp về đơn đặt hàng.
                                </p>
                                <a href="@Url.Action("Privacy","Home")">Chính sách vận chuyển></a>
                            </div>
                            <div class="side-block side-feature">
                                <h4><i class="fa fa-reply"></i>ĐỔI TRẢ MIỄN PHÍ</h4>
                                <p>Chúng tôi đứng đằng sau hàng hóa và dịch vụ của chúng tôi và muốn bạn hài lòng với họ.</p>
                                <a href="@Url.Action("Privacy","Home")">Chính sách đổi trả ></a>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="container mb-xs">
                <h2 class="slider-title">
                    <span class="inline-title">THƯƠNG HIỆU</span>
                    <span class="line"></span>
                </h2>
                <div class="owl-carousel owl-theme manual clients-carousel">
                    <a href="#" title="Brand Name" class="client">
                        <img class="img-responsive" src="/img/demos/shop/brands/square/brand1.jpg" alt="Brand">
                    </a>
                    <a href="#" title="Brand Name" class="client">
                        <img class="img-responsive" src="/img/demos/shop/brands/square/brand2.jpg" alt="Brand">
                    </a>
                    <a href="#" title="Brand Name" class="client">
                        <img class="img-responsive" src="/img/demos/shop/brands/square/brand3.jpg" alt="Brand">
                    </a>
                    <a href="#" title="Brand Name" class="client">
                        <img class="img-responsive" src="/img/demos/shop/brands/square/brand4.jpg" alt="Brand">
                    </a>
                    <a href="#" title="Brand Name" class="client">
                        <img class="img-responsive" src="/img/demos/shop/brands/square/brand5.jpg" alt="Brand">
                    </a>
                    <a href="#" title="Brand Name" class="client">
                        <img class="img-responsive" src="/img/demos/shop/brands/square/brand6.jpg" alt="Brand">
                    </a>
                    <a href="#" title="Brand Name" class="client">
                        <img class="img-responsive" src="/img/demos/shop/brands/square/brand2.jpg" alt="Brand">
                    </a>
                </div>
            </div>
            <div class="container mb-sm">
                <h2 class="slider-title">
                    <span class="inline-title">SẢN PHẨM MỚI</span>
                    <span class="line"></span>
                </h2>
                <div class="owl-carousel owl-theme manual new-products-carousel hide-addtolinks">
                    @foreach (var item in Model.Content)
                    {

                <div class="product">
                    <figure class="product-image-area">
                        <a href="@Url.Action("Detail","Product",new { id = item.Id })" title="@item.Name" class="product-image">
                            <img src="@item.Image" alt="Product Name" style="width:200px; height:230px">
                        </a>
                        <a href="#" class="product-quickview">
                            <i class="fa fa-share-square-o"></i>
                            <span>Quick View</span>
                        </a>
                        <div class="product-label"><span class="new">New</span></div>

                    </figure>
                    <div class="product-details-area">
                        <h2 class="product-name"><a href="@Url.Action("Detail","Product",new { id = item.Id })" title="@item.Name">@item.Name</a></h2>
                        <div class="product-ratings">
                            <div class="ratings-box">
                                <div class="rating" style="width:60%"></div>
                            </div>
                        </div>
                        <div class="product-price-box">
                            <span class="product-price">@item.CurrentPrice</span>
                        </div>
                    </div>
                </div>
                    }

                </div>
            </div>


            <div class="newsletter-popup mfp-hide" id="newsletter-popup-form" style="background-image: url(/img/demos/shop/newsletter_popup_bg.jpg)">
                <div class="newsletter-popup-content">
                </div><!-- End .newsletter-popup-content -->
            </div><!-- End .newsletter-popup -->
        </div>

    </div>
