@using TCVWeb.Areas.Admin.Models
@model ShopItem
@{
    Layout = null;
    var catList = (List<SelectItemModel>)ViewBag.ItemCats;
    var exportList = (List<SelectExportModel>)ViewBag.Export;
    var sizeList = (List<SelectItemModel>)ViewBag.SizeList;
}

<div class="form-horizontal">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.CreateTime)
    @Html.HiddenFor(m => m.Status)

    <div class="row">
        <p>Vui lòng chọn phân loại, nơi xuất hàng, nước xuất hàng, kích thước để tạo mã hàng.</p>
        <div class="col-md-7">
            <div class="form-group">
                <label asp-for="SKU" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input asp-for="SKU" id="SKU" class="form-control" , required="" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input asp-for="Name" class="form-control" , required="" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NameEn" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input asp-for="NameEn" class="form-control" , required="" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ItemCats" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <select multiple id="ItemCats" name="ItemCats" class="form-control">
                        @if (catList != null)
                        {
                            @foreach (var item in catList)
                            {
                                if (item.selected)
                                {
                                    <option value="@item.id" selected>@item.text</option>
                                }
                                else
                                {
                                    <option value="@item.id">@item.text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Exports" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <select multiple id="Exports" name="Exports" class="form-control">
                        @if (exportList != null)
                        {
                            @foreach (var item in exportList)
                            {
                                if (item.selectedParent)
                                {
                                    <option value="@item.parentId" selected>@item.parentText</option>
                                }
                                else
                                {
                                    <option value="@item.parentId">@item.parentText</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ExportsPlace" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <select multiple id="ExportsPlace" name="ExportsPlace" class="form-control">
                        @if (exportList != null)
                        {
                            @foreach (var item in exportList)
                            {
                                if (item.selected)
                                {
                                    <option value="@item.id" selected>@item.text</option>
                                }
                                else
                                {
                                    <option value="@item.id">@item.text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SizeProduct" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <select multiple id="SizeProduct" name="SizeProduct" class="form-control">
                        @if (exportList != null)
                        {
                            @foreach (var item in sizeList)
                            {
                                if (item.selected)
                                {
                                    <option value="@item.id" selected>@item.text</option>
                                }
                                else
                                {
                                    <option value="@item.id">@item.text</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RegularPrice" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input asp-for="RegularPrice" class="form-control" , required="" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="RegularPriceEn" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input asp-for="RegularPriceEn" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="SalePrice" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input asp-for="SalePrice" class="form-control" , required="" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SalePriceEn" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input asp-for="SalePriceEn" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ItemTags" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input asp-for="ItemTags" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Preview" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <textarea asp-for="Preview" class="form-control" rows="3" , required=""></textarea>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="PreviewEn" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <textarea asp-for="PreviewEn" class="form-control" rows="3"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <select asp-for="Status" asp-items="@Html.GetEnumSelectList(Model.Status.GetType())" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="thumb-info mb-md">
                @Html.HiddenFor(m => m.Image)
                <img src="@Model.Image" id="avatar" class="rounded img-responsive" alt="">
                <div class="thumb-info-title">
                    <a class="btn btn-primary" href="@Url.Action("FileBrowser", "Media", new { @input = "Image", @image = "avatar" })" data-modal="" title="Cập nhật hình đại diện"><i class="fa fa-edit"></i></a>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <h1>Nội dung</h1>
    <div class="form-group">
        <div class="col-md-12">
            @Html.SummerNoteFor(m => m.Content)
        </div>
    </div>

    <h1>Nội dung English</h1>
    <div class="form-group">
        <div class="col-md-12">
            @Html.SummerNoteFor(m => m.ContentEn)
        </div>
    </div>
</div>
<script>
    document.getElementById("SKU").readOnly = true;
    document.getElementById("SKU").style.color = "#c0c0c0";
</script>